# Standard Ignore
venv_hidden/
__pycache__/
*.pyc
.env

# Project Logs and Legacy Docs
encyclopidia.txt
information.txt
ocrinfo.txt
documentfromcopilet.txt

# Internal Project Documentation
docs/
DOCUMENTATION.md
